# Data Science Tools and Ecosystem

#### ___In this notebook, Data Science Tools and Ecosystem are summarized.___

### _Objectives:_

- List popular languages for Data Science
- List commonly used librarires used by data scientists
- List comonly used Data science tools

Some of the popular languages that Data Scientists use are :

1. Python 
2. R
3. SQL
4. Scala
5. Julia

Some of the commonly used libraries used by Data Scientists include:

1. pandas 
2. ggplot
3. numpy

### Below are a few examples of evaluating arithmetic expressions in Python.

|Data Science Tools|
--------------------
| Jupiter Notebook|
|R Studio|
|Spyder|

In [47]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [53]:
#This will convert 200 minutes to hours by diving by 60

def minutes_in_hour(m):
    return m/60
minutes_in_hour(200)

3.3333333333333335

## Author 
Samy